<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        <%= t('terms_list') %>
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
        <table class="table table-bordered">
          <tr class="success">
            <td><b><%= t('term') %></b></td>
            <td><b>D1</b></td>
            <td><b>D2</b></td>
            <td><b>D3</b></td>
            <td><b>D4</b></td>
            <td><b>D5</b></td>
            <td><b>D6</b></td>
            <td><b>D7</b></td>
            <td><b>D8</b></td>
            <td><b>N</b></td>
          </tr>
          <% @vocabulary.get_words.uniq.each do |w| %>
            <% if w != "" %>
            <tr>  
              <td><%= w %></td>
              <% @documents.each do |k, v| %>
                <td><%= Vocabulary.count_words_in_document(v,w) %></td>
              <% end %>
              <td><%= @vocabulary.term_document_count(w) %></td>
            </tr>
            <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        <%= t('calculate_terms') %>
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        
      </div>
    </div>
  </div>
</div>