<div class="span12">
  <div class="well well-small">
    <h3><i class="icon-align-justify"></i> <%= t('probabilistic_model_similarity') %></h3>
  </div>
  <% queries.each do |k, v| %>
    <div class="well well-small" style="margin-bottom:2px;">
      <h4><%= t('similarity') %></h4>
    </div>
    <table class="table table-bordered">
      <tr class="success">
        <td><b></b></td>
        <td style="text-align:center"><h4>Sim<small>q,D1</small></h4></td>
        <td style="text-align:center"><h4>Sim<small>q,D2</small></h4></td>
        <td style="text-align:center"><h4>Sim<small>q,D3</small></h4></td>
        <td style="text-align:center"><h4>Sim<small>q,D4</small></h4></td>
        <td style="text-align:center"><h4>Sim<small>q,D5</small></h4></td>
        <td style="text-align:center"><h4>Sim<small>q,D6</small></h4></td>
        <td style="text-align:center"><h4>Sim<small>q,D7</small></h4></td>
        <td style="text-align:center"><h4>Sim<small>q,D8</small></h4></td>
      </tr>
      <tr>
        <td>1ª</td>
      <% documents.each do |kd, vd| %>
        <td>
          <% value = 0 %>
          <% v.split(' ').each do |term| %>
            <% if vocabulary.get_words_by_document(vd).include?(term) %>
              <% value = value + Vocabulary.probabilistic(documents.count, vocabulary.occurrence_in_document(term, kd)) %>
            <% end %>
          <% end %>
          <%= value.round(4) %>
        </td>
      <% end %>
      </tr>
    </table>
    <div class="well well-small">
      <h5>=> Query: <%= v %>  
        <br />
         <%= Vocabulary.probabilistic_new(v, documents) %>
      </h5>
    </div>
    <hr class="soften">
  <% end %>
</div>
