<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header"><%= t('options') %></li>
    <li><%= link_to t('vocabulary'), root_path %></li>
    <li><%= link_to t('inverted_list'), inverted_list_app_index_path,  remote: true %></li>
    <li><%= link_to t('search_boolean'), boolean_app_index_path, remote: true %></li>
    <li><%= link_to t('term_frequency'), term_frequency_app_index_path, remote: true  %></li>
    <li><%= link_to t('inverse_document_frequency'), inverse_document_frequency_app_index_path, remote: true  %></li>
    <li><%= link_to t('search_vetorial'), vetorial_app_index_path, remote: true  %></li>
    <li><%= link_to t('vector_model_similarity'), vector_sim_app_index_path, remote: true  %></li>
    <li><%= link_to t('probabilistic_model_similarity'), probabilistic_app_index_path, remote: true  %></li>
    <li><%= link_to t('bm_25'), bm_25_app_index_path, remote: true  %></li>
  </ul>
</div><!--/.well -->
