<%= image_tag 'wait.gif', style: 'display:none;margin-left:35%;' %>
<div id="content-page">
  <div class="span12">
    <div class="well well-small">
      <h3><i class="icon-align-justify"></i> <%= t('vocabulary') %></h3>
    </div>
    <div class="well">
      <h4><%= t('documents') %>:</h4>
      <% @documents.each do |key, value| %>
        <p><b><%= key %>: </b><%= value %></p>
      <% end %>
    </div>
    <%= render partial: 'shared/occurrence', locals: {object: @vocabulary} %>
  </div>
</div>
